-- CreateEnum
CREATE TYPE "ScheduleWorkflowAction" AS ENUM ('SUBMIT_DRAFT_FOR_REVIEW', 'START_TECHNICAL_REVIEW');

-- AlterTable
ALTER TABLE "Equipment" ADD CONSTRAINT "Equipment_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "EquipmentDeployment" ADD CONSTRAINT "EquipmentDeployment_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "EquipmentMaintenance" ADD CONSTRAINT "EquipmentMaintenance_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "EquipmentTelemetry" ADD CONSTRAINT "EquipmentTelemetry_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "EquipmentUtilization" ADD CONSTRAINT "EquipmentUtilization_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "EvidenceFile" ADD CONSTRAINT "EvidenceFile_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ExecutiveAccessLog" ADD CONSTRAINT "ExecutiveAccessLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ExecutiveAlertLog" ADD CONSTRAINT "ExecutiveAlertLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ExecutiveDashboardPreference" ADD CONSTRAINT "ExecutiveDashboardPreference_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ExpenseAIValidation" ADD CONSTRAINT "ExpenseAIValidation_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ExpenseApprovalLog" ADD CONSTRAINT "ExpenseApprovalLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ExpenseBreakdownItem" ADD CONSTRAINT "ExpenseBreakdownItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ExpenseProofFile" ADD CONSTRAINT "ExpenseProofFile_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "FileSecurityLog" ADD CONSTRAINT "FileSecurityLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "FinancialDataWaiver" ADD CONSTRAINT "FinancialDataWaiver_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "FleetAIReview" ADD CONSTRAINT "FleetAIReview_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "FleetEvent" ADD CONSTRAINT "FleetEvent_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "FleetTrip" ADD CONSTRAINT "FleetTrip_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Geofence" ADD CONSTRAINT "Geofence_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "GovernmentSettings" ADD CONSTRAINT "GovernmentSettings_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "HikvisionDevice" ADD CONSTRAINT "HikvisionDevice_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Inspection" ADD CONSTRAINT "Inspection_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "IssuanceItem" ADD CONSTRAINT "IssuanceItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "JobOrder" ADD CONSTRAINT "JobOrder_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "KnowledgeAuditTrail" ADD CONSTRAINT "KnowledgeAuditTrail_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "KnowledgeRecord" ADD CONSTRAINT "KnowledgeRecord_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "KnowledgeReference" ADD CONSTRAINT "KnowledgeReference_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "KnowledgeRuleAuditLog" ADD CONSTRAINT "KnowledgeRuleAuditLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "KnowledgeRuleReference" ADD CONSTRAINT "KnowledgeRuleReference_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "LiveCameraSnapshot" ADD CONSTRAINT "LiveCameraSnapshot_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "LockedRecord" ADD CONSTRAINT "LockedRecord_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "MaterialIssuance" ADD CONSTRAINT "MaterialIssuance_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "MaterialRequest" ADD CONSTRAINT "MaterialRequest_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "MaterialRequestItem" ADD CONSTRAINT "MaterialRequestItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "MaterialReturn" ADD CONSTRAINT "MaterialReturn_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Module" ADD CONSTRAINT "Module_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "NotebookReference" ADD CONSTRAINT "NotebookReference_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "NotebookReferenceApprovalLog" ADD CONSTRAINT "NotebookReferenceApprovalLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "NotebookReferenceIndexLog" ADD CONSTRAINT "NotebookReferenceIndexLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "NotebookReferenceModule" ADD CONSTRAINT "NotebookReferenceModule_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "NotebookReferenceProject" ADD CONSTRAINT "NotebookReferenceProject_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "NotebookReferenceRole" ADD CONSTRAINT "NotebookReferenceRole_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "NotebookReferenceVersion" ADD CONSTRAINT "NotebookReferenceVersion_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "OnlyOfficeSession" ADD CONSTRAINT "OnlyOfficeSession_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PaymentBatch" ADD CONSTRAINT "PaymentBatch_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PaymentBatchRow" ADD CONSTRAINT "PaymentBatchRow_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PaymentException" ADD CONSTRAINT "PaymentException_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PaymentFallbackRecommendation" ADD CONSTRAINT "PaymentFallbackRecommendation_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PaymentLog" ADD CONSTRAINT "PaymentLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PaymentProvider" ADD CONSTRAINT "PaymentProvider_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PaymentRecord" ADD CONSTRAINT "PaymentRecord_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Payroll" ADD CONSTRAINT "Payroll_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollApproval" ADD CONSTRAINT "PayrollApproval_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollAuditLog" ADD CONSTRAINT "PayrollAuditLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollBankAccount" ADD CONSTRAINT "PayrollBankAccount_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollBankLedger" ADD CONSTRAINT "PayrollBankLedger_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollCutoffSetting" ADD CONSTRAINT "PayrollCutoffSetting_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollDeduction" ADD CONSTRAINT "PayrollDeduction_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollEarning" ADD CONSTRAINT "PayrollEarning_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollFundingRequest" ADD CONSTRAINT "PayrollFundingRequest_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PayrollPeriod" ADD CONSTRAINT "PayrollPeriod_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PettyCashAccount" ADD CONSTRAINT "PettyCashAccount_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PettyCashExpense" ADD CONSTRAINT "PettyCashExpense_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PettyCashReplenishment" ADD CONSTRAINT "PettyCashReplenishment_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProcurementBenchmarkItem" ADD CONSTRAINT "ProcurementBenchmarkItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProgramOfWorks" ADD CONSTRAINT "ProgramOfWorks_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Project" ADD CONSTRAINT "Project_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectAccomplishmentAIFinding" ADD CONSTRAINT "ProjectAccomplishmentAIFinding_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectAccomplishmentFile" ADD CONSTRAINT "ProjectAccomplishmentFile_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectAccomplishmentFileVersion" ADD CONSTRAINT "ProjectAccomplishmentFileVersion_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectBOQVersion" ADD CONSTRAINT "ProjectBOQVersion_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectCamera" ADD CONSTRAINT "ProjectCamera_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectCostLedger" ADD CONSTRAINT "ProjectCostLedger_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectSchedule" ADD CONSTRAINT "ProjectSchedule_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectUserAssignment" ADD CONSTRAINT "ProjectUserAssignment_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ProjectValidationScore" ADD CONSTRAINT "ProjectValidationScore_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "PurchaseOrderItem" ADD CONSTRAINT "PurchaseOrderItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "QuotationItem" ADD CONSTRAINT "QuotationItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ReceivingBank" ADD CONSTRAINT "ReceivingBank_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ReturnItem" ADD CONSTRAINT "ReturnItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "RevisionRequest" ADD CONSTRAINT "RevisionRequest_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Role" ADD CONSTRAINT "Role_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "RoleConflictRule" ADD CONSTRAINT "RoleConflictRule_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SSSTable" ADD CONSTRAINT "SSSTable_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleActivity" ADD CONSTRAINT "ScheduleActivity_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleApproval" ADD CONSTRAINT "ScheduleApproval_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleBOQAllocation" ADD CONSTRAINT "ScheduleBOQAllocation_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleDelayRecord" ADD CONSTRAINT "ScheduleDelayRecord_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleDependency" ADD CONSTRAINT "ScheduleDependency_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleGenerationAudit" ADD CONSTRAINT "ScheduleGenerationAudit_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleMilestone" ADD CONSTRAINT "ScheduleMilestone_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SchedulePOWMapping" ADD CONSTRAINT "SchedulePOWMapping_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleProgressUpdate" ADD CONSTRAINT "ScheduleProgressUpdate_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleRecoveryPlan" ADD CONSTRAINT "ScheduleRecoveryPlan_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleReviewComment" ADD CONSTRAINT "ScheduleReviewComment_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleRevisionReason" ADD CONSTRAINT "ScheduleRevisionReason_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleRevisionRequest" ADD CONSTRAINT "ScheduleRevisionRequest_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ScheduleWBS" ADD CONSTRAINT "ScheduleWBS_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SecurityEvent" ADD CONSTRAINT "SecurityEvent_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SecurityIncident" ADD CONSTRAINT "SecurityIncident_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SecurityRule" ADD CONSTRAINT "SecurityRule_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SecuritySimulationArchive" ADD CONSTRAINT "SecuritySimulationArchive_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SecuritySimulationCampaign" ADD CONSTRAINT "SecuritySimulationCampaign_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SecuritySimulationRun" ADD CONSTRAINT "SecuritySimulationRun_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SecuritySimulationScenario" ADD CONSTRAINT "SecuritySimulationScenario_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SensitiveExportLog" ADD CONSTRAINT "SensitiveExportLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SubcontractAccomplishment" ADD CONSTRAINT "SubcontractAccomplishment_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SubcontractBilling" ADD CONSTRAINT "SubcontractBilling_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SubcontractPackage" ADD CONSTRAINT "SubcontractPackage_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Subcontractor" ADD CONSTRAINT "Subcontractor_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SubcontractorBOQItem" ADD CONSTRAINT "SubcontractorBOQItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SubcontractorVariationOrder" ADD CONSTRAINT "SubcontractorVariationOrder_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Supplier" ADD CONSTRAINT "Supplier_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SupplierQuotation" ADD CONSTRAINT "SupplierQuotation_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "SystemRole" ADD CONSTRAINT "SystemRole_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ThreatIp" ADD CONSTRAINT "ThreatIp_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "TransactionWorkflow" ADD CONSTRAINT "TransactionWorkflow_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "UploadedWorkbookFile" ADD CONSTRAINT "UploadedWorkbookFile_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "User" ADD CONSTRAINT "User_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "UserLoginLog" ADD CONSTRAINT "UserLoginLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "UserRole" ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "UserSessionSecurityLog" ADD CONSTRAINT "UserSessionSecurityLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ValidationAuditLog" ADD CONSTRAINT "ValidationAuditLog_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ValidationEvidencePack" ADD CONSTRAINT "ValidationEvidencePack_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ValidationSettings" ADD CONSTRAINT "ValidationSettings_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "ValueEngineeringRecord" ADD CONSTRAINT "ValueEngineeringRecord_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "VariationOrder" ADD CONSTRAINT "VariationOrder_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "VariationOrderApproval" ADD CONSTRAINT "VariationOrderApproval_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "VariationOrderDocument" ADD CONSTRAINT "VariationOrderDocument_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "VariationOrderItem" ADD CONSTRAINT "VariationOrderItem_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "VideoEvidence" ADD CONSTRAINT "VideoEvidence_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "WorkbookExtractionAudit" ADD CONSTRAINT "WorkbookExtractionAudit_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "WorkbookFormulaValidation" ADD CONSTRAINT "WorkbookFormulaValidation_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "WorkbookTemplateValidation" ADD CONSTRAINT "WorkbookTemplateValidation_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "WorkbookVersion" ADD CONSTRAINT "WorkbookVersion_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Worker" ADD CONSTRAINT "Worker_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "WorkerDocument" ADD CONSTRAINT "WorkerDocument_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "WorkflowStep" ADD CONSTRAINT "WorkflowStep_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "WorkflowTemplate" ADD CONSTRAINT "WorkflowTemplate_pkey" PRIMARY KEY ("id");

-- CreateTable
CREATE TABLE "ScheduleWorkflowTransition" (
    "id" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "scheduleId" TEXT NOT NULL,
    "action" "ScheduleWorkflowAction" NOT NULL,
    "fromStatus" "ProjectScheduleWorkflowStatus" NOT NULL,
    "toStatus" "ProjectScheduleWorkflowStatus" NOT NULL,
    "actorUserId" TEXT NOT NULL,
    "actorSessionVersion" INTEGER NOT NULL,
    "expectedRowVersion" INTEGER NOT NULL,
    "resultingRowVersion" INTEGER NOT NULL,
    "idempotencyKeyHash" TEXT NOT NULL,
    "correlationId" TEXT,
    "occurredAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "metadata" TEXT,

    CONSTRAINT "ScheduleWorkflowTransition_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "ScheduleWorkflowTransition_scheduleId_occurredAt_idx" ON "ScheduleWorkflowTransition"("scheduleId", "occurredAt");

-- CreateIndex
CREATE INDEX "ScheduleWorkflowTransition_projectId_action_occurredAt_idx" ON "ScheduleWorkflowTransition"("projectId", "action", "occurredAt");

-- CreateIndex
CREATE INDEX "ScheduleWorkflowTransition_actorUserId_occurredAt_idx" ON "ScheduleWorkflowTransition"("actorUserId", "occurredAt");

-- CreateIndex
CREATE UNIQUE INDEX "ScheduleWorkflowTransition_scheduleId_action_idempotencyKey_key" ON "ScheduleWorkflowTransition"("scheduleId", "action", "idempotencyKeyHash");

-- CreateIndex
CREATE UNIQUE INDEX "AIGeneratedReport_reportCode_key" ON "AIGeneratedReport"("reportCode");

-- CreateIndex
CREATE UNIQUE INDEX "AIValidationRule_ruleCode_key" ON "AIValidationRule"("ruleCode");

-- CreateIndex
CREATE UNIQUE INDEX "AccountsPayable_deliveryId_key" ON "AccountsPayable"("deliveryId");

-- CreateIndex
CREATE UNIQUE INDEX "AccountsPayable_voucherNumber_key" ON "AccountsPayable"("voucherNumber");

-- CreateIndex
CREATE INDEX "AiRagEmbedding_sourceType_idx" ON "AiRagEmbedding"("sourceType");

-- CreateIndex
CREATE INDEX "AiRagEmbedding_projectId_idx" ON "AiRagEmbedding"("projectId");

-- CreateIndex
CREATE INDEX "AiRagKeywordRegistry_normalizedKeyword_idx" ON "AiRagKeywordRegistry"("normalizedKeyword");

-- CreateIndex
CREATE INDEX "AiRagKeywordRegistry_keywordType_idx" ON "AiRagKeywordRegistry"("keywordType");

-- CreateIndex
CREATE UNIQUE INDEX "AiRagKeywordRegistry_normalizedKeyword_keywordType_key" ON "AiRagKeywordRegistry"("normalizedKeyword", "keywordType");

-- CreateIndex
CREATE UNIQUE INDEX "AiRagNoiseExclusion_normalizedTerm_key" ON "AiRagNoiseExclusion"("normalizedTerm");

-- CreateIndex
CREATE UNIQUE INDEX "AiRagSchemaMap_tableName_fieldName_key" ON "AiRagSchemaMap"("tableName", "fieldName");

-- CreateIndex
CREATE UNIQUE INDEX "AiSystemEnumRegistry_normalizedValue_enumCategory_key" ON "AiSystemEnumRegistry"("normalizedValue", "enumCategory");

-- CreateIndex
CREATE UNIQUE INDEX "AiUiActionRegistry_normalizedLabel_actionType_key" ON "AiUiActionRegistry"("normalizedLabel", "actionType");

-- CreateIndex
CREATE UNIQUE INDEX "BackCharge_backChargeNumber_key" ON "BackCharge"("backChargeNumber");

-- CreateIndex
CREATE UNIQUE INDEX "BaselineActivation_idempotencyKey_key" ON "BaselineActivation"("idempotencyKey");

-- CreateIndex
CREATE UNIQUE INDEX "Billing_billingNumber_key" ON "Billing"("billingNumber");

-- CreateIndex
CREATE UNIQUE INDEX "CanvassForm_canvassNumber_key" ON "CanvassForm"("canvassNumber");

-- CreateIndex
CREATE UNIQUE INDEX "ClientVariationOrder_cvoNumber_key" ON "ClientVariationOrder"("cvoNumber");

-- CreateIndex
CREATE UNIQUE INDEX "DailyTimeRecord_workerId_date_key" ON "DailyTimeRecord"("workerId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "Equipment_code_key" ON "Equipment"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Equipment_fmsDeviceId_key" ON "Equipment"("fmsDeviceId");

-- CreateIndex
CREATE INDEX "EquipmentTelemetry_equipmentId_timestamp_idx" ON "EquipmentTelemetry"("equipmentId", "timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "ExecutiveDashboardPreference_userId_key" ON "ExecutiveDashboardPreference"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "ExpenseAIValidation_expenseId_key" ON "ExpenseAIValidation"("expenseId");

-- CreateIndex
CREATE UNIQUE INDEX "HikvisionDevice_deviceSerialNumber_key" ON "HikvisionDevice"("deviceSerialNumber");

-- CreateIndex
CREATE UNIQUE INDEX "HikvisionDevice_imeiOrUniqueId_key" ON "HikvisionDevice"("imeiOrUniqueId");

-- CreateIndex
CREATE UNIQUE INDEX "HikvisionDevice_equipmentId_key" ON "HikvisionDevice"("equipmentId");

-- CreateIndex
CREATE UNIQUE INDEX "JobOrder_jobNumber_key" ON "JobOrder"("jobNumber");

-- CreateIndex
CREATE UNIQUE INDEX "KnowledgeRecord_knowledgeId_key" ON "KnowledgeRecord"("knowledgeId");

-- CreateIndex
CREATE UNIQUE INDEX "LockedRecord_moduleName_transactionId_key" ON "LockedRecord"("moduleName", "transactionId");

-- CreateIndex
CREATE UNIQUE INDEX "MaterialIssuance_misNumber_key" ON "MaterialIssuance"("misNumber");

-- CreateIndex
CREATE UNIQUE INDEX "MaterialRequest_mrNumber_key" ON "MaterialRequest"("mrNumber");

-- CreateIndex
CREATE UNIQUE INDEX "MaterialReturn_mrsNumber_key" ON "MaterialReturn"("mrsNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Module_moduleName_key" ON "Module"("moduleName");

-- CreateIndex
CREATE UNIQUE INDEX "NotebookReference_referenceCode_key" ON "NotebookReference"("referenceCode");

-- CreateIndex
CREATE UNIQUE INDEX "OnlyOfficeSession_documentKey_key" ON "OnlyOfficeSession"("documentKey");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentBatch_batchNumber_key" ON "PaymentBatch"("batchNumber");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentBatchRow_senderReferenceId_key" ON "PaymentBatchRow"("senderReferenceId");

-- CreateIndex
CREATE UNIQUE INDEX "PaymentBatchRow_idempotencyKey_key" ON "PaymentBatchRow"("idempotencyKey");

-- CreateIndex
CREATE UNIQUE INDEX "Payroll_workerId_payrollPeriodId_key" ON "Payroll"("workerId", "payrollPeriodId");

-- CreateIndex
CREATE UNIQUE INDEX "PayrollFundingRequest_fundingRequestNumber_key" ON "PayrollFundingRequest"("fundingRequestNumber");

-- CreateIndex
CREATE UNIQUE INDEX "PayrollPeriod_payrollBatchNumber_key" ON "PayrollPeriod"("payrollBatchNumber");

-- CreateIndex
CREATE UNIQUE INDEX "PettyCashExpense_expenseId_key" ON "PettyCashExpense"("expenseId");

-- CreateIndex
CREATE UNIQUE INDEX "PettyCashReplenishment_requestNumber_key" ON "PettyCashReplenishment"("requestNumber");

-- CreateIndex
CREATE INDEX "ProjectSchedule_projectId_workflowStatus_idx" ON "ProjectSchedule"("projectId", "workflowStatus");

-- CreateIndex
CREATE INDEX "ProjectSchedule_parentScheduleId_idx" ON "ProjectSchedule"("parentScheduleId");

-- CreateIndex
CREATE INDEX "ProjectSchedule_previousBaselineId_idx" ON "ProjectSchedule"("previousBaselineId");

-- CreateIndex
CREATE INDEX "ProjectSchedule_lockedBOQVersionId_idx" ON "ProjectSchedule"("lockedBOQVersionId");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectSchedule_id_projectId_key" ON "ProjectSchedule"("id", "projectId");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectSchedule_projectId_revisionNumber_key" ON "ProjectSchedule"("projectId", "revisionNumber");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectSchedule_projectId_revisionCode_key" ON "ProjectSchedule"("projectId", "revisionCode");

-- CreateIndex
CREATE INDEX "ProjectUserAssignment_userId_idx" ON "ProjectUserAssignment"("userId");

-- CreateIndex
CREATE INDEX "ProjectUserAssignment_projectId_idx" ON "ProjectUserAssignment"("projectId");

-- CreateIndex
CREATE INDEX "ProjectUserAssignment_assignmentStatus_idx" ON "ProjectUserAssignment"("assignmentStatus");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectUserAssignment_userId_projectId_key" ON "ProjectUserAssignment"("userId", "projectId");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectValidationScore_projectId_key" ON "ProjectValidationScore"("projectId");

-- CreateIndex
CREATE UNIQUE INDEX "PurchaseOrder_poNumber_key" ON "PurchaseOrder"("poNumber");

-- CreateIndex
CREATE UNIQUE INDEX "ReceivingBank_bankCode_key" ON "ReceivingBank"("bankCode");

-- CreateIndex
CREATE UNIQUE INDEX "Role_roleName_key" ON "Role"("roleName");

-- CreateIndex
CREATE UNIQUE INDEX "Role_roleCode_key" ON "Role"("roleCode");

-- CreateIndex
CREATE UNIQUE INDEX "RolePermission_roleId_moduleId_key" ON "RolePermission"("roleId", "moduleId");

-- CreateIndex
CREATE UNIQUE INDEX "ScheduleApproval_idempotencyKey_key" ON "ScheduleApproval"("idempotencyKey");

-- CreateIndex
CREATE INDEX "ScheduleApproval_projectId_scheduleId_idx" ON "ScheduleApproval"("projectId", "scheduleId");

-- CreateIndex
CREATE INDEX "ScheduleApproval_scheduleId_reviewRound_idx" ON "ScheduleApproval"("scheduleId", "reviewRound");

-- CreateIndex
CREATE INDEX "ScheduleApproval_scheduleId_approvalStage_idx" ON "ScheduleApproval"("scheduleId", "approvalStage");

-- CreateIndex
CREATE INDEX "ScheduleApproval_reviewerId_idx" ON "ScheduleApproval"("reviewerId");

-- CreateIndex
CREATE UNIQUE INDEX "SubcontractBilling_billingNumber_key" ON "SubcontractBilling"("billingNumber");

-- CreateIndex
CREATE UNIQUE INDEX "SubcontractPackage_packageNumber_key" ON "SubcontractPackage"("packageNumber");

-- CreateIndex
CREATE UNIQUE INDEX "SubcontractorVariationOrder_svoNumber_key" ON "SubcontractorVariationOrder"("svoNumber");

-- CreateIndex
CREATE UNIQUE INDEX "SystemRole_name_key" ON "SystemRole"("name");

-- CreateIndex
CREATE UNIQUE INDEX "ThreatIp_ipAddress_key" ON "ThreatIp"("ipAddress");

-- CreateIndex
CREATE INDEX "TransactionWorkflow_moduleName_transactionId_idx" ON "TransactionWorkflow"("moduleName", "transactionId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "UserRole_userId_roleId_key" ON "UserRole"("userId", "roleId");

-- CreateIndex
CREATE UNIQUE INDEX "ValueEngineeringRecord_veNumber_key" ON "ValueEngineeringRecord"("veNumber");

-- CreateIndex
CREATE UNIQUE INDEX "VariationOrder_voNumber_key" ON "VariationOrder"("voNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Worker_workerId_key" ON "Worker"("workerId");

-- CreateIndex
CREATE UNIQUE INDEX "WorkflowTemplate_moduleName_key" ON "WorkflowTemplate"("moduleName");

-- AddForeignKey
ALTER TABLE "Project" ADD CONSTRAINT "Project_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectUserAssignment" ADD CONSTRAINT "ProjectUserAssignment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectUserAssignment" ADD CONSTRAINT "ProjectUserAssignment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AwardedBOQItem" ADD CONSTRAINT "AwardedBOQItem_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementBenchmarkItem" ADD CONSTRAINT "ProcurementBenchmarkItem_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConsolidatedBOQItem" ADD CONSTRAINT "ConsolidatedBOQItem_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQMapping" ADD CONSTRAINT "BOQMapping_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQMapping" ADD CONSTRAINT "BOQMapping_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQMapping" ADD CONSTRAINT "BOQMapping_procurementBenchmarkItemId_fkey" FOREIGN KEY ("procurementBenchmarkItemId") REFERENCES "ProcurementBenchmarkItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialRequest" ADD CONSTRAINT "MaterialRequest_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialRequest" ADD CONSTRAINT "MaterialRequest_checkerId_fkey" FOREIGN KEY ("checkerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialRequest" ADD CONSTRAINT "MaterialRequest_preparerId_fkey" FOREIGN KEY ("preparerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialRequest" ADD CONSTRAINT "MaterialRequest_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialRequest" ADD CONSTRAINT "MaterialRequest_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialRequestItem" ADD CONSTRAINT "MaterialRequestItem_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialRequestItem" ADD CONSTRAINT "MaterialRequestItem_mrId_fkey" FOREIGN KEY ("mrId") REFERENCES "MaterialRequest"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_canvassFormId_fkey" FOREIGN KEY ("canvassFormId") REFERENCES "CanvassForm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_preparerId_fkey" FOREIGN KEY ("preparerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_mrId_fkey" FOREIGN KEY ("mrId") REFERENCES "MaterialRequest"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrder" ADD CONSTRAINT "PurchaseOrder_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrderItem" ADD CONSTRAINT "PurchaseOrderItem_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseOrderItem" ADD CONSTRAINT "PurchaseOrderItem_poId_fkey" FOREIGN KEY ("poId") REFERENCES "PurchaseOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_loggedById_fkey" FOREIGN KEY ("loggedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Expense" ADD CONSTRAINT "Expense_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseBreakdownItem" ADD CONSTRAINT "ExpenseBreakdownItem_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES "Expense"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseProofFile" ADD CONSTRAINT "ExpenseProofFile_verifiedById_fkey" FOREIGN KEY ("verifiedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseProofFile" ADD CONSTRAINT "ExpenseProofFile_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseProofFile" ADD CONSTRAINT "ExpenseProofFile_breakdownItemId_fkey" FOREIGN KEY ("breakdownItemId") REFERENCES "ExpenseBreakdownItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseProofFile" ADD CONSTRAINT "ExpenseProofFile_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES "Expense"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseAIValidation" ADD CONSTRAINT "ExpenseAIValidation_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES "Expense"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseApprovalLog" ADD CONSTRAINT "ExpenseApprovalLog_actionByUserId_fkey" FOREIGN KEY ("actionByUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExpenseApprovalLog" ADD CONSTRAINT "ExpenseApprovalLog_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES "Expense"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashAccount" ADD CONSTRAINT "PettyCashAccount_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashAccount" ADD CONSTRAINT "PettyCashAccount_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashAccount" ADD CONSTRAINT "PettyCashAccount_custodianId_fkey" FOREIGN KEY ("custodianId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashAccount" ADD CONSTRAINT "PettyCashAccount_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashExpense" ADD CONSTRAINT "PettyCashExpense_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashExpense" ADD CONSTRAINT "PettyCashExpense_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashExpense" ADD CONSTRAINT "PettyCashExpense_replenishmentId_fkey" FOREIGN KEY ("replenishmentId") REFERENCES "PettyCashReplenishment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashExpense" ADD CONSTRAINT "PettyCashExpense_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES "PettyCashAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashExpense" ADD CONSTRAINT "PettyCashExpense_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES "Expense"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PettyCashReplenishment" ADD CONSTRAINT "PettyCashReplenishment_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES "PettyCashAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Worker" ADD CONSTRAINT "Worker_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIWorkerValidationResult" ADD CONSTRAINT "AIWorkerValidationResult_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkerDocument" ADD CONSTRAINT "WorkerDocument_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkerDocument" ADD CONSTRAINT "WorkerDocument_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DailyTimeRecord" ADD CONSTRAINT "DailyTimeRecord_payrollPeriodId_fkey" FOREIGN KEY ("payrollPeriodId") REFERENCES "PayrollPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DailyTimeRecord" ADD CONSTRAINT "DailyTimeRecord_encodedById_fkey" FOREIGN KEY ("encodedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DailyTimeRecord" ADD CONSTRAINT "DailyTimeRecord_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DailyTimeRecord" ADD CONSTRAINT "DailyTimeRecord_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollPeriod" ADD CONSTRAINT "PayrollPeriod_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollPeriod" ADD CONSTRAINT "PayrollPeriod_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollPeriod" ADD CONSTRAINT "PayrollPeriod_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payroll" ADD CONSTRAINT "Payroll_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payroll" ADD CONSTRAINT "Payroll_payrollPeriodId_fkey" FOREIGN KEY ("payrollPeriodId") REFERENCES "PayrollPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payroll" ADD CONSTRAINT "Payroll_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollEarning" ADD CONSTRAINT "PayrollEarning_payrollId_fkey" FOREIGN KEY ("payrollId") REFERENCES "Payroll"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollDeduction" ADD CONSTRAINT "PayrollDeduction_payrollId_fkey" FOREIGN KEY ("payrollId") REFERENCES "Payroll"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollApproval" ADD CONSTRAINT "PayrollApproval_approverUserId_fkey" FOREIGN KEY ("approverUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollApproval" ADD CONSTRAINT "PayrollApproval_payrollPeriodId_fkey" FOREIGN KEY ("payrollPeriodId") REFERENCES "PayrollPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeductionLedger" ADD CONSTRAINT "DeductionLedger_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeductionLedger" ADD CONSTRAINT "DeductionLedger_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeductionLog" ADD CONSTRAINT "DeductionLog_payrollPeriodId_fkey" FOREIGN KEY ("payrollPeriodId") REFERENCES "PayrollPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeductionLog" ADD CONSTRAINT "DeductionLog_ledgerId_fkey" FOREIGN KEY ("ledgerId") REFERENCES "DeductionLedger"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Allowance" ADD CONSTRAINT "Allowance_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Document" ADD CONSTRAINT "Document_uploaderId_fkey" FOREIGN KEY ("uploaderId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Document" ADD CONSTRAINT "Document_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_approverId_fkey" FOREIGN KEY ("approverId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_verifierId_fkey" FOREIGN KEY ("verifierId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_receivedById_fkey" FOREIGN KEY ("receivedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Delivery" ADD CONSTRAINT "Delivery_poId_fkey" FOREIGN KEY ("poId") REFERENCES "PurchaseOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeliveryItem" ADD CONSTRAINT "DeliveryItem_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeliveryItem" ADD CONSTRAINT "DeliveryItem_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES "Delivery"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConsumptionLog" ADD CONSTRAINT "ConsumptionLog_loggedById_fkey" FOREIGN KEY ("loggedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConsumptionLog" ADD CONSTRAINT "ConsumptionLog_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConsumptionItem" ADD CONSTRAINT "ConsumptionItem_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConsumptionItem" ADD CONSTRAINT "ConsumptionItem_logId_fkey" FOREIGN KEY ("logId") REFERENCES "ConsumptionLog"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialIssuance" ADD CONSTRAINT "MaterialIssuance_releasedById_fkey" FOREIGN KEY ("releasedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialIssuance" ADD CONSTRAINT "MaterialIssuance_accountantId_fkey" FOREIGN KEY ("accountantId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialIssuance" ADD CONSTRAINT "MaterialIssuance_warehousemanId_fkey" FOREIGN KEY ("warehousemanId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialIssuance" ADD CONSTRAINT "MaterialIssuance_foremanId_fkey" FOREIGN KEY ("foremanId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialIssuance" ADD CONSTRAINT "MaterialIssuance_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IssuanceItem" ADD CONSTRAINT "IssuanceItem_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IssuanceItem" ADD CONSTRAINT "IssuanceItem_issuanceId_fkey" FOREIGN KEY ("issuanceId") REFERENCES "MaterialIssuance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReturn" ADD CONSTRAINT "MaterialReturn_warehousemanId_fkey" FOREIGN KEY ("warehousemanId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReturn" ADD CONSTRAINT "MaterialReturn_foremanId_fkey" FOREIGN KEY ("foremanId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReturn" ADD CONSTRAINT "MaterialReturn_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MaterialReturn" ADD CONSTRAINT "MaterialReturn_issuanceId_fkey" FOREIGN KEY ("issuanceId") REFERENCES "MaterialIssuance"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReturnItem" ADD CONSTRAINT "ReturnItem_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReturnItem" ADD CONSTRAINT "ReturnItem_issuanceItemId_fkey" FOREIGN KEY ("issuanceItemId") REFERENCES "IssuanceItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReturnItem" ADD CONSTRAINT "ReturnItem_returnId_fkey" FOREIGN KEY ("returnId") REFERENCES "MaterialReturn"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccountsPayable" ADD CONSTRAINT "AccountsPayable_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccountsPayable" ADD CONSTRAINT "AccountsPayable_poId_fkey" FOREIGN KEY ("poId") REFERENCES "PurchaseOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccountsPayable" ADD CONSTRAINT "AccountsPayable_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES "Delivery"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQLotBreakdown" ADD CONSTRAINT "BOQLotBreakdown_boqItemId_fkey" FOREIGN KEY ("boqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Accomplishment" ADD CONSTRAINT "Accomplishment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccomplishmentItem" ADD CONSTRAINT "AccomplishmentItem_boqItemId_fkey" FOREIGN KEY ("boqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccomplishmentItem" ADD CONSTRAINT "AccomplishmentItem_accomplishmentId_fkey" FOREIGN KEY ("accomplishmentId") REFERENCES "Accomplishment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inspection" ADD CONSTRAINT "Inspection_accomplishmentItemId_fkey" FOREIGN KEY ("accomplishmentItemId") REFERENCES "AccomplishmentItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Billing" ADD CONSTRAINT "Billing_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BillingItem" ADD CONSTRAINT "BillingItem_boqItemId_fkey" FOREIGN KEY ("boqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BillingItem" ADD CONSTRAINT "BillingItem_billingId_fkey" FOREIGN KEY ("billingId") REFERENCES "Billing"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BillingDeduction" ADD CONSTRAINT "BillingDeduction_billingId_fkey" FOREIGN KEY ("billingId") REFERENCES "Billing"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_billingId_fkey" FOREIGN KEY ("billingId") REFERENCES "Billing"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VariationOrder" ADD CONSTRAINT "VariationOrder_subcontractPackageId_fkey" FOREIGN KEY ("subcontractPackageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VariationOrder" ADD CONSTRAINT "VariationOrder_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VariationOrderItem" ADD CONSTRAINT "VariationOrderItem_originalBoqItemId_fkey" FOREIGN KEY ("originalBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VariationOrderItem" ADD CONSTRAINT "VariationOrderItem_variationOrderId_fkey" FOREIGN KEY ("variationOrderId") REFERENCES "VariationOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VariationOrderDocument" ADD CONSTRAINT "VariationOrderDocument_variationOrderId_fkey" FOREIGN KEY ("variationOrderId") REFERENCES "VariationOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VariationOrderApproval" ADD CONSTRAINT "VariationOrderApproval_variationOrderId_fkey" FOREIGN KEY ("variationOrderId") REFERENCES "VariationOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIVariationOrderValidation" ADD CONSTRAINT "AIVariationOrderValidation_variationOrderId_fkey" FOREIGN KEY ("variationOrderId") REFERENCES "VariationOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvidenceFile" ADD CONSTRAINT "EvidenceFile_accomplishmentId_fkey" FOREIGN KEY ("accomplishmentId") REFERENCES "Accomplishment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvidenceFile" ADD CONSTRAINT "EvidenceFile_boqItemId_fkey" FOREIGN KEY ("boqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvidenceFile" ADD CONSTRAINT "EvidenceFile_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectCamera" ADD CONSTRAINT "ProjectCamera_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiveCameraSnapshot" ADD CONSTRAINT "LiveCameraSnapshot_cameraId_fkey" FOREIGN KEY ("cameraId") REFERENCES "ProjectCamera"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationRun" ADD CONSTRAINT "AIValidationRun_boqItemId_fkey" FOREIGN KEY ("boqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationRun" ADD CONSTRAINT "AIValidationRun_billingId_fkey" FOREIGN KEY ("billingId") REFERENCES "Billing"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationRun" ADD CONSTRAINT "AIValidationRun_accomplishmentId_fkey" FOREIGN KEY ("accomplishmentId") REFERENCES "Accomplishment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationRun" ADD CONSTRAINT "AIValidationRun_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationEvidence" ADD CONSTRAINT "AIValidationEvidence_evidenceFileId_fkey" FOREIGN KEY ("evidenceFileId") REFERENCES "EvidenceFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationEvidence" ADD CONSTRAINT "AIValidationEvidence_aiValidationRunId_fkey" FOREIGN KEY ("aiValidationRunId") REFERENCES "AIValidationRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationFinding" ADD CONSTRAINT "AIValidationFinding_aiValidationRunId_fkey" FOREIGN KEY ("aiValidationRunId") REFERENCES "AIValidationRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIHumanReview" ADD CONSTRAINT "AIHumanReview_aiValidationRunId_fkey" FOREIGN KEY ("aiValidationRunId") REFERENCES "AIValidationRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProgramOfWorks" ADD CONSTRAINT "ProgramOfWorks_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractorBOQItem" ADD CONSTRAINT "SubcontractorBOQItem_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractorBOQItem" ADD CONSTRAINT "SubcontractorBOQItem_subcontractorId_fkey" FOREIGN KEY ("subcontractorId") REFERENCES "Subcontractor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccomplishmentRecord" ADD CONSTRAINT "AccomplishmentRecord_aiValidationId_fkey" FOREIGN KEY ("aiValidationId") REFERENCES "AIValidationResult"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccomplishmentRecord" ADD CONSTRAINT "AccomplishmentRecord_jobOrderId_fkey" FOREIGN KEY ("jobOrderId") REFERENCES "JobOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentRecord" ADD CONSTRAINT "PaymentRecord_billingId_fkey" FOREIGN KEY ("billingId") REFERENCES "SubcontractBilling"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractPackage" ADD CONSTRAINT "SubcontractPackage_subcontractorId_fkey" FOREIGN KEY ("subcontractorId") REFERENCES "Subcontractor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractPackage" ADD CONSTRAINT "SubcontractPackage_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractPackage" ADD CONSTRAINT "SubcontractPackage_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobOrder" ADD CONSTRAINT "JobOrder_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobOrder" ADD CONSTRAINT "JobOrder_subcontractorId_fkey" FOREIGN KEY ("subcontractorId") REFERENCES "Subcontractor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobOrder" ADD CONSTRAINT "JobOrder_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JobOrder" ADD CONSTRAINT "JobOrder_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractAccomplishment" ADD CONSTRAINT "SubcontractAccomplishment_jobOrderId_fkey" FOREIGN KEY ("jobOrderId") REFERENCES "JobOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractAccomplishment" ADD CONSTRAINT "SubcontractAccomplishment_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractBilling" ADD CONSTRAINT "SubcontractBilling_jobOrderId_fkey" FOREIGN KEY ("jobOrderId") REFERENCES "JobOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractBilling" ADD CONSTRAINT "SubcontractBilling_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractBilling" ADD CONSTRAINT "SubcontractBilling_subcontractorId_fkey" FOREIGN KEY ("subcontractorId") REFERENCES "Subcontractor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractBilling" ADD CONSTRAINT "SubcontractBilling_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BackCharge" ADD CONSTRAINT "BackCharge_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BackCharge" ADD CONSTRAINT "BackCharge_subcontractorId_fkey" FOREIGN KEY ("subcontractorId") REFERENCES "Subcontractor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BackCharge" ADD CONSTRAINT "BackCharge_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeReference" ADD CONSTRAINT "KnowledgeReference_payrollPeriodId_fkey" FOREIGN KEY ("payrollPeriodId") REFERENCES "PayrollPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeReference" ADD CONSTRAINT "KnowledgeReference_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeReference" ADD CONSTRAINT "KnowledgeReference_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeReference" ADD CONSTRAINT "KnowledgeReference_knowledgeRecordId_fkey" FOREIGN KEY ("knowledgeRecordId") REFERENCES "KnowledgeRecord"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KnowledgeAuditTrail" ADD CONSTRAINT "KnowledgeAuditTrail_knowledgeRecordId_fkey" FOREIGN KEY ("knowledgeRecordId") REFERENCES "KnowledgeRecord"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollBankLedger" ADD CONSTRAINT "PayrollBankLedger_payrollBankAccountId_fkey" FOREIGN KEY ("payrollBankAccountId") REFERENCES "PayrollBankAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollFundingRequest" ADD CONSTRAINT "PayrollFundingRequest_destinationAccountId_fkey" FOREIGN KEY ("destinationAccountId") REFERENCES "PayrollBankAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PayrollFundingRequest" ADD CONSTRAINT "PayrollFundingRequest_payrollPeriodId_fkey" FOREIGN KEY ("payrollPeriodId") REFERENCES "PayrollPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentBatch" ADD CONSTRAINT "PaymentBatch_payrollBankAccountId_fkey" FOREIGN KEY ("payrollBankAccountId") REFERENCES "PayrollBankAccount"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentBatch" ADD CONSTRAINT "PaymentBatch_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES "PaymentProvider"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentBatch" ADD CONSTRAINT "PaymentBatch_payrollPeriodId_fkey" FOREIGN KEY ("payrollPeriodId") REFERENCES "PayrollPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentBatchRow" ADD CONSTRAINT "PaymentBatchRow_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentBatchRow" ADD CONSTRAINT "PaymentBatchRow_payrollId_fkey" FOREIGN KEY ("payrollId") REFERENCES "Payroll"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentBatchRow" ADD CONSTRAINT "PaymentBatchRow_paymentBatchId_fkey" FOREIGN KEY ("paymentBatchId") REFERENCES "PaymentBatch"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentException" ADD CONSTRAINT "PaymentException_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaymentFallbackRecommendation" ADD CONSTRAINT "PaymentFallbackRecommendation_workerId_fkey" FOREIGN KEY ("workerId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DocumentTemplate" ADD CONSTRAINT "DocumentTemplate_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DocumentTemplate" ADD CONSTRAINT "DocumentTemplate_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectAccomplishmentFile" ADD CONSTRAINT "ProjectAccomplishmentFile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectAccomplishmentFile" ADD CONSTRAINT "ProjectAccomplishmentFile_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectAccomplishmentFile" ADD CONSTRAINT "ProjectAccomplishmentFile_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectAccomplishmentFileVersion" ADD CONSTRAINT "ProjectAccomplishmentFileVersion_fileId_fkey" FOREIGN KEY ("fileId") REFERENCES "ProjectAccomplishmentFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectAccomplishmentAIFinding" ADD CONSTRAINT "ProjectAccomplishmentAIFinding_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectAccomplishmentAIFinding" ADD CONSTRAINT "ProjectAccomplishmentAIFinding_fileId_fkey" FOREIGN KEY ("fileId") REFERENCES "ProjectAccomplishmentFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRole" ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRole" ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES "Module"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkflowStep" ADD CONSTRAINT "WorkflowStep_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "WorkflowTemplate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationLog" ADD CONSTRAINT "AIValidationLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserLoginLog" ADD CONSTRAINT "UserLoginLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotebookReferenceVersion" ADD CONSTRAINT "NotebookReferenceVersion_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotebookReferenceModule" ADD CONSTRAINT "NotebookReferenceModule_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotebookReferenceRole" ADD CONSTRAINT "NotebookReferenceRole_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotebookReferenceProject" ADD CONSTRAINT "NotebookReferenceProject_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotebookReferenceApprovalLog" ADD CONSTRAINT "NotebookReferenceApprovalLog_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotebookReferenceIndexLog" ADD CONSTRAINT "NotebookReferenceIndexLog_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AITransactionValidation" ADD CONSTRAINT "AITransactionValidation_referenceVersionId_fkey" FOREIGN KEY ("referenceVersionId") REFERENCES "NotebookReferenceVersion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AITransactionValidation" ADD CONSTRAINT "AITransactionValidation_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationOverride" ADD CONSTRAINT "AIValidationOverride_validationResultId_fkey" FOREIGN KEY ("validationResultId") REFERENCES "AITransactionValidation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIReferenceUsageLog" ADD CONSTRAINT "AIReferenceUsageLog_referenceId_fkey" FOREIGN KEY ("referenceId") REFERENCES "NotebookReference"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CanvassForm" ADD CONSTRAINT "CanvassForm_preparedById_fkey" FOREIGN KEY ("preparedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CanvassForm" ADD CONSTRAINT "CanvassForm_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CanvassForm" ADD CONSTRAINT "CanvassForm_mrId_fkey" FOREIGN KEY ("mrId") REFERENCES "MaterialRequest"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CanvassItem" ADD CONSTRAINT "CanvassItem_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CanvassItem" ADD CONSTRAINT "CanvassItem_canvassFormId_fkey" FOREIGN KEY ("canvassFormId") REFERENCES "CanvassForm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierQuotation" ADD CONSTRAINT "SupplierQuotation_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES "Supplier"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SupplierQuotation" ADD CONSTRAINT "SupplierQuotation_canvassFormId_fkey" FOREIGN KEY ("canvassFormId") REFERENCES "CanvassForm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuotationItem" ADD CONSTRAINT "QuotationItem_canvassItemId_fkey" FOREIGN KEY ("canvassItemId") REFERENCES "CanvassItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuotationItem" ADD CONSTRAINT "QuotationItem_quotationId_fkey" FOREIGN KEY ("quotationId") REFERENCES "SupplierQuotation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentDeployment" ADD CONSTRAINT "EquipmentDeployment_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentDeployment" ADD CONSTRAINT "EquipmentDeployment_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentDeployment" ADD CONSTRAINT "EquipmentDeployment_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentDeployment" ADD CONSTRAINT "EquipmentDeployment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentDeployment" ADD CONSTRAINT "EquipmentDeployment_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentUtilization" ADD CONSTRAINT "EquipmentUtilization_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentUtilization" ADD CONSTRAINT "EquipmentUtilization_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentMaintenance" ADD CONSTRAINT "EquipmentMaintenance_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentTelemetry" ADD CONSTRAINT "EquipmentTelemetry_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentAIValidation" ADD CONSTRAINT "EquipmentAIValidation_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HikvisionDevice" ADD CONSTRAINT "HikvisionDevice_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FleetEvent" ADD CONSTRAINT "FleetEvent_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FleetEvent" ADD CONSTRAINT "FleetEvent_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VideoEvidence" ADD CONSTRAINT "VideoEvidence_fleetEventId_fkey" FOREIGN KEY ("fleetEventId") REFERENCES "FleetEvent"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FleetTrip" ADD CONSTRAINT "FleetTrip_subcontractPackageId_fkey" FOREIGN KEY ("subcontractPackageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FleetTrip" ADD CONSTRAINT "FleetTrip_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FleetTrip" ADD CONSTRAINT "FleetTrip_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "Worker"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FleetTrip" ADD CONSTRAINT "FleetTrip_equipmentId_fkey" FOREIGN KEY ("equipmentId") REFERENCES "Equipment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Geofence" ADD CONSTRAINT "Geofence_subcontractPackageId_fkey" FOREIGN KEY ("subcontractPackageId") REFERENCES "SubcontractPackage"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Geofence" ADD CONSTRAINT "Geofence_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FleetAIReview" ADD CONSTRAINT "FleetAIReview_fleetEventId_fkey" FOREIGN KEY ("fleetEventId") REFERENCES "FleetEvent"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExecutiveDashboardPreference" ADD CONSTRAINT "ExecutiveDashboardPreference_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExecutiveAccessLog" ADD CONSTRAINT "ExecutiveAccessLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIExecutiveQuery" ADD CONSTRAINT "AIExecutiveQuery_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIGeneratedReport" ADD CONSTRAINT "AIGeneratedReport_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIGeneratedReport" ADD CONSTRAINT "AIGeneratedReport_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIGeneratedReport" ADD CONSTRAINT "AIGeneratedReport_generatedById_fkey" FOREIGN KEY ("generatedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIGeneratedReportVersion" ADD CONSTRAINT "AIGeneratedReportVersion_editedById_fkey" FOREIGN KEY ("editedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIGeneratedReportVersion" ADD CONSTRAINT "AIGeneratedReportVersion_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "AIGeneratedReport"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ValidationSettings" ADD CONSTRAINT "ValidationSettings_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationRecord" ADD CONSTRAINT "AIValidationRecord_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationRecord" ADD CONSTRAINT "AIValidationRecord_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AIValidationRecord" ADD CONSTRAINT "AIValidationRecord_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectValidationScore" ADD CONSTRAINT "ProjectValidationScore_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ValidationEvidencePack" ADD CONSTRAINT "ValidationEvidencePack_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ValidationEvidencePack" ADD CONSTRAINT "ValidationEvidencePack_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ValidationAuditLog" ADD CONSTRAINT "ValidationAuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectCostLedger" ADD CONSTRAINT "ProjectCostLedger_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectCostLedger" ADD CONSTRAINT "ProjectCostLedger_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectCostLedger" ADD CONSTRAINT "ProjectCostLedger_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommitmentLedger" ADD CONSTRAINT "CommitmentLedger_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommitmentLedger" ADD CONSTRAINT "CommitmentLedger_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CommitmentLedger" ADD CONSTRAINT "CommitmentLedger_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractorVariationOrder" ADD CONSTRAINT "SubcontractorVariationOrder_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractorVariationOrder" ADD CONSTRAINT "SubcontractorVariationOrder_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubcontractorVariationOrder" ADD CONSTRAINT "SubcontractorVariationOrder_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientVariationOrder" ADD CONSTRAINT "ClientVariationOrder_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ClientVariationOrder" ADD CONSTRAINT "ClientVariationOrder_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ValueEngineeringRecord" ADD CONSTRAINT "ValueEngineeringRecord_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ValueEngineeringRecord" ADD CONSTRAINT "ValueEngineeringRecord_consolidatedBoqItemId_fkey" FOREIGN KEY ("consolidatedBoqItemId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ValueEngineeringRecord" ADD CONSTRAINT "ValueEngineeringRecord_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectSchedule" ADD CONSTRAINT "ProjectSchedule_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectSchedule" ADD CONSTRAINT "ProjectSchedule_parentScheduleId_fkey" FOREIGN KEY ("parentScheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectSchedule" ADD CONSTRAINT "ProjectSchedule_previousBaselineId_fkey" FOREIGN KEY ("previousBaselineId") REFERENCES "ProjectSchedule"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectSchedule" ADD CONSTRAINT "ProjectSchedule_generatedById_fkey" FOREIGN KEY ("generatedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectSchedule" ADD CONSTRAINT "ProjectSchedule_activatedById_fkey" FOREIGN KEY ("activatedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleWBS" ADD CONSTRAINT "ScheduleWBS_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleWBS" ADD CONSTRAINT "ScheduleWBS_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "ScheduleWBS"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleActivity" ADD CONSTRAINT "ScheduleActivity_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleActivity" ADD CONSTRAINT "ScheduleActivity_wbsId_fkey" FOREIGN KEY ("wbsId") REFERENCES "ScheduleWBS"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleActivity" ADD CONSTRAINT "ScheduleActivity_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleDependency" ADD CONSTRAINT "ScheduleDependency_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleDependency" ADD CONSTRAINT "ScheduleDependency_predecessorId_fkey" FOREIGN KEY ("predecessorId") REFERENCES "ScheduleActivity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleDependency" ADD CONSTRAINT "ScheduleDependency_successorId_fkey" FOREIGN KEY ("successorId") REFERENCES "ScheduleActivity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleMilestone" ADD CONSTRAINT "ScheduleMilestone_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBOQAllocation" ADD CONSTRAINT "ScheduleBOQAllocation_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES "ScheduleActivity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBOQAllocation" ADD CONSTRAINT "ScheduleBOQAllocation_awardedBoqItemId_fkey" FOREIGN KEY ("awardedBoqItemId") REFERENCES "AwardedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBOQAllocation" ADD CONSTRAINT "ScheduleBOQAllocation_boqLineId_fkey" FOREIGN KEY ("boqLineId") REFERENCES "ConsolidatedBOQItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBOQAllocation" ADD CONSTRAINT "ScheduleBOQAllocation_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleBOQAllocation" ADD CONSTRAINT "ScheduleBOQAllocation_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SchedulePOWMapping" ADD CONSTRAINT "SchedulePOWMapping_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES "ScheduleActivity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SchedulePOWMapping" ADD CONSTRAINT "SchedulePOWMapping_programOfWorksId_fkey" FOREIGN KEY ("programOfWorksId") REFERENCES "ProgramOfWorks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleProgressUpdate" ADD CONSTRAINT "ScheduleProgressUpdate_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleProgressUpdate" ADD CONSTRAINT "ScheduleProgressUpdate_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES "ScheduleActivity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleProgressUpdate" ADD CONSTRAINT "ScheduleProgressUpdate_reportedById_fkey" FOREIGN KEY ("reportedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleDelayRecord" ADD CONSTRAINT "ScheduleDelayRecord_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleDelayRecord" ADD CONSTRAINT "ScheduleDelayRecord_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES "ScheduleActivity"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleDelayRecord" ADD CONSTRAINT "ScheduleDelayRecord_reportedById_fkey" FOREIGN KEY ("reportedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleRecoveryPlan" ADD CONSTRAINT "ScheduleRecoveryPlan_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleRevisionRequest" ADD CONSTRAINT "ScheduleRevisionRequest_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES "ProjectSchedule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiKnowledgeSource" ADD CONSTRAINT "AiKnowledgeSource_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiKnowledgeChunk" ADD CONSTRAINT "AiKnowledgeChunk_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "AiKnowledgeSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiChatSession" ADD CONSTRAINT "AiChatSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiChatMessage" ADD CONSTRAINT "AiChatMessage_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "AiChatSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiChatMessage" ADD CONSTRAINT "AiChatMessage_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiAccessAuditLog" ADD CONSTRAINT "AiAccessAuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChatbotFeedback" ADD CONSTRAINT "ChatbotFeedback_auditLogId_fkey" FOREIGN KEY ("auditLogId") REFERENCES "AiAccessAuditLog"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChatbotFeedback" ADD CONSTRAINT "ChatbotFeedback_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiRagKeywordRegistry" ADD CONSTRAINT "AiRagKeywordRegistry_mergedIntoId_fkey" FOREIGN KEY ("mergedIntoId") REFERENCES "AiRagKeywordRegistry"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SecurityEvent" ADD CONSTRAINT "SecurityEvent_simulationRunId_fkey" FOREIGN KEY ("simulationRunId") REFERENCES "SecuritySimulationRun"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SecurityEvent" ADD CONSTRAINT "SecurityEvent_incidentId_fkey" FOREIGN KEY ("incidentId") REFERENCES "SecurityIncident"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SecurityIncident" ADD CONSTRAINT "SecurityIncident_linkedSimulationRunId_fkey" FOREIGN KEY ("linkedSimulationRunId") REFERENCES "SecuritySimulationRun"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SecuritySimulationRun" ADD CONSTRAINT "SecuritySimulationRun_scenarioId_fkey" FOREIGN KEY ("scenarioId") REFERENCES "SecuritySimulationScenario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SecuritySimulationRun" ADD CONSTRAINT "SecuritySimulationRun_campaignId_fkey" FOREIGN KEY ("campaignId") REFERENCES "SecuritySimulationCampaign"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UploadedWorkbookFile" ADD CONSTRAINT "UploadedWorkbookFile_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkbookVersion" ADD CONSTRAINT "WorkbookVersion_uploadedWorkbookFileId_fkey" FOREIGN KEY ("uploadedWorkbookFileId") REFERENCES "UploadedWorkbookFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OnlyOfficeSession" ADD CONSTRAINT "OnlyOfficeSession_uploadedWorkbookFileId_fkey" FOREIGN KEY ("uploadedWorkbookFileId") REFERENCES "UploadedWorkbookFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OnlyOfficeSession" ADD CONSTRAINT "OnlyOfficeSession_workbookVersionId_fkey" FOREIGN KEY ("workbookVersionId") REFERENCES "WorkbookVersion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQExtractedSection" ADD CONSTRAINT "BOQExtractedSection_uploadedWorkbookFileId_fkey" FOREIGN KEY ("uploadedWorkbookFileId") REFERENCES "UploadedWorkbookFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQExtractedSection" ADD CONSTRAINT "BOQExtractedSection_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQExtractedItem" ADD CONSTRAINT "BOQExtractedItem_uploadedWorkbookFileId_fkey" FOREIGN KEY ("uploadedWorkbookFileId") REFERENCES "UploadedWorkbookFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQExtractedItem" ADD CONSTRAINT "BOQExtractedItem_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BOQExtractedItem" ADD CONSTRAINT "BOQExtractedItem_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "BOQExtractedSection"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkbookFormulaValidation" ADD CONSTRAINT "WorkbookFormulaValidation_uploadedWorkbookFileId_fkey" FOREIGN KEY ("uploadedWorkbookFileId") REFERENCES "UploadedWorkbookFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkbookTemplateValidation" ADD CONSTRAINT "WorkbookTemplateValidation_uploadedWorkbookFileId_fkey" FOREIGN KEY ("uploadedWorkbookFileId") REFERENCES "UploadedWorkbookFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleGenerationAudit" ADD CONSTRAINT "ScheduleGenerationAudit_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleGenerationAudit" ADD CONSTRAINT "ScheduleGenerationAudit_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkbookExtractionAudit" ADD CONSTRAINT "WorkbookExtractionAudit_uploadedWorkbookFileId_fkey" FOREIGN KEY ("uploadedWorkbookFileId") REFERENCES "UploadedWorkbookFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WorkbookExtractionAudit" ADD CONSTRAINT "WorkbookExtractionAudit_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleApproval" ADD CONSTRAINT "ScheduleApproval_scheduleId_projectId_fkey" FOREIGN KEY ("scheduleId", "projectId") REFERENCES "ProjectSchedule"("id", "projectId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleApproval" ADD CONSTRAINT "ScheduleApproval_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleReviewComment" ADD CONSTRAINT "ScheduleReviewComment_scheduleId_projectId_fkey" FOREIGN KEY ("scheduleId", "projectId") REFERENCES "ProjectSchedule"("id", "projectId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleReviewComment" ADD CONSTRAINT "ScheduleReviewComment_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleReviewComment" ADD CONSTRAINT "ScheduleReviewComment_resolvedById_fkey" FOREIGN KEY ("resolvedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BaselineActivation" ADD CONSTRAINT "BaselineActivation_scheduleId_projectId_fkey" FOREIGN KEY ("scheduleId", "projectId") REFERENCES "ProjectSchedule"("id", "projectId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BaselineActivation" ADD CONSTRAINT "BaselineActivation_activatedById_fkey" FOREIGN KEY ("activatedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FinancialDataWaiver" ADD CONSTRAINT "FinancialDataWaiver_scheduleId_projectId_fkey" FOREIGN KEY ("scheduleId", "projectId") REFERENCES "ProjectSchedule"("id", "projectId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FinancialDataWaiver" ADD CONSTRAINT "FinancialDataWaiver_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FinancialDataWaiver" ADD CONSTRAINT "FinancialDataWaiver_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleRevisionReason" ADD CONSTRAINT "ScheduleRevisionReason_scheduleId_projectId_fkey" FOREIGN KEY ("scheduleId", "projectId") REFERENCES "ProjectSchedule"("id", "projectId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleRevisionReason" ADD CONSTRAINT "ScheduleRevisionReason_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleWorkflowTransition" ADD CONSTRAINT "ScheduleWorkflowTransition_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "Project"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleWorkflowTransition" ADD CONSTRAINT "ScheduleWorkflowTransition_scheduleId_projectId_fkey" FOREIGN KEY ("scheduleId", "projectId") REFERENCES "ProjectSchedule"("id", "projectId") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScheduleWorkflowTransition" ADD CONSTRAINT "ScheduleWorkflowTransition_actorUserId_fkey" FOREIGN KEY ("actorUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

